<h1>Adventures!</h1>

<% @adventures.each do |adventure| %>
  <div class="row">
    <div class="col-md-4 col-sm-4">
<!--       <p class="lead"><%#= link_to(adventure.title, adventure) %> -->
      <p>Title: <%= link_to(adventure.title, adventure) %></p>
      <p>Author: <%= adventure.author %></p>      
    </div>
  </div>
<% end %>