<h1>Adventures</h1>

<%= link_to "Add Adventure", new_adventure_path, :class => "btn btn-success" %>  

  <% @adventures.each do |adventure| %>
    <li><b><%= adventure.author %>:
    <%= link_to adventure.title, adventure_path(adventure) %>
    <%#= @library.url %>
    <%= link_to "Edit", edit_adventure_path(adventure), :class => "btn btn-info btn-sm" %></b></li>
  <% end %>