<h1>Create a new adventure!</h1>

<%= form_for @adventure do |f| %>

  <%= f.text_field :title, placeholder: "Title" %>
  <%= f.text_field :author, placeholder: "Author" %>
  <%= f.submit %>

<% end %>


