<h1>start page</h1>

<h3>Title:<%=  @adventure.title %></h3>

<% @adventure.pages.each do |page| %>
   <h6>(Current page: <%= page.name %>)</h6></br>
<% end %>
<%= sanitize linkify_page @page %></br>
<%= link_to "Add page", new_adventure_page_path(@adventure) %>
