<h1>Name: <%= @page.name %></h1>

<!-- Sanitize method helps encode all HTML tags -->
<%= sanitize linkify_page(@page) %>
<%= link_to 'Edit', edit_adventure_path(@adventure) %>
<%= link_to 'Back', adventures_path %>